<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>About</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}", id="theme">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>


  <body>
    {% include 'navbar.html' %}

    <div class="mx-sm-4 mt-4" style="padding-left: 20px">
      <h2>
        About
      </h2>
    </div>

    <div class="mx-sm-4 mt-4 px-4">
      <p tyle="padding-top: 30px; padding-left: 45px;">
        MealSwap is an application where Princeton students are able to
        explore other meal plan options on campus by requesting and
        fullfilling meal swaps. Our goal is to allow students to find other 
        people from different meal plans to initiate meal exchanges with, 
        get guest swipes, or simply have their late meal for the day.
      </p>
      <p>To find out how to use Meal Swap to its fullest extent, please head to our
      tutorial page!
    </p>
    </div>
    
    <div class="mx-sm-4 mt-4" style="padding-left: 20px">
      <h2>
        Meet the Team
      </h2>
    </div>

    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col text-center">
          <img src="/static/images/temp1.jpg" width="200px"
                height="200px" class="rounded-circle about_img">
          <p>
            Ansh Bhargava<br>anshb@princeton.edu</p>
        </div>
        <div class="col text-center">
          <img src="/static/images/temp2.jpg" width="200px"
                height="200px" class="rounded-circle about_img">
          <p>Yongwei Che<br>yongweic@princeton.edu</p>
        </div>
        <div class="col text-center">
          <img src="/static/images/temp3.jpg" width="200px"
                height="200px" class="rounded-circle about_img">
          <p>Dwaipayan Saha<br>dsaha@princeton.edu</p>
        </div>
        <div class="col text-center">
          <img src="/static/images/temp4.jpg" width="200px"
                height="200px" class="rounded-circle about_img">
                <p>Kartik Shah<br>kdshah@princeton.edu</p>
        </div>
        <div class="col text-center">
          <img src="/static/images/temp5.jpg" width="200px"
                height="200px" class="rounded-circle about_img">
                <p>
                  Benjamin Liu<br>bxliu@princeton.edu</p>
        </div>
      </div>
    </div>

    <div class="mx-sm-4 mt-4" style="padding-left: 20px">
      <h2>
        FAQ
      </h2>
    </div>

    <div class="mx-sm-4 mt-4" style="padding-left: 20px">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              How Much Does Yongwei Bench?
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            225
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How Much Does Yongwei Squat?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            255
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How Much Does Yongwei Deadlift?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            315
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-sm-4 mt-4" style="padding-left: 20px">
    <h2>
      Feedback
    </h2>
    <p>If you have any questions, comments, concerns, feedback, or rude remarks, please feel free to email our Publicity Chair, Yongwei Che at 
      <a href="mailto:yongweic@princeton.edu">yongweic@princeton.edu</a>
    </p>
  </div>

  </body>
<style>
  .card {
    border-radius: 0em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
</style>
</html>
