<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create Account</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AJAX for Flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>
function createNewUser() {
var firstname= $('#firstname').val();
var lastname= $('#lastname').val();
var netid= $('#netid').val();
var year= $('#year').val();
var plan= $('#plan').val();


  $.ajax({
              url: "/create-new-user",
              type: "POST",
              data: {firstname:firstname, lastname:lastname, netid:netid, year:year, plan:plan}
          }).done(function(response) {
            // https://pemagrg.medium.com/build-a-web-app-using-pythons-flask-for-beginners-f28315256893
            var html= "<br><p> <b> Thanks for creating your account. We will note this in our databases. Your name is:  <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").append(html);
            });
            
};
</script>

<body>

    <nav class="navbar navbar-expand-lg navbar-light gradient-custom-1" style="border-radius: 0px; padding-top: 5px; padding-bottom: 5px;">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="margin-left: 15px; font-size: 160%; font-weight: bolder;">MealSwap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="float-right, navbar-item" style="margin-right: 15px;">
            <a class="nav-button" href="" id="intro-btn" style="text-decoration: none; margin-right: 10px; font-size: large;">About</a>
            <a class="nav-button" href="" id="intro-btn" style="text-decoration: none; margin-right: 10px; font-size: large;">Tutorial</a>
            <a class="nav-button" href="" id="work-btn" style="text-decoration: none; font-size: large;">Log In</a>
        </div>
        </div>
      </nav>


    <h2 style="padding-top: 30px; padding-left: 45px;">
        Create Your Account
    </h2>

    <div class="show-data" >
    </div>
      
    <div style="padding-top: 30px; padding-left: 30px;">
        <form action="/dashboard" method="get">
              <div class="form-row col-md-8">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">First Name</label>
                  <input type="text" class="form-control" id="firstname" placeholder="Ansh">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Last Name</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Saha">
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputAddress">NetID</label>
                <input type="text" class="form-control" id="netid" placeholder="ogolev">
              </div>
              <div class="form-group col-md-4">
                <label for="inputAddress2">Class Year</label>
                <input type="text" class="form-control" id="year" placeholder="2024">
              </div>

              <div class="form-row col-md-8">
                <div class="form-group col-md-4">
                  <label for="inputCity">Dining Plan</label>
                  <input type="text" class="form-control" id="plan" placeholder="Dining Hall">
                </div>

                <div class="form-check" style="margin-left: 20px; margin-top: 40px;">
                  <input class="form-check-input" type="checkbox" id="usertype">
                  <label class="form-check-label" for="gridCheck">
                    Adminstrator
                  </label>
                </div>

              </div>

              <div class="form-group col-md-4">
                <label for="inputCity">Phone Number</label>
                <input type="text" class="form-control" id="contact" placeholder="(201) 951 2312">
                </div>
         
              <button onclick="createNewUser()" type="submit" class="btn btn-primary" style="margin-top: 10px; margin-left: 15px;">Create Account</button>

        </form>

    </div>
</body>


