<!DOCTYPE html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Create Account</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AJAX for Flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
 
    <nav class="navbar navbar-expand-lg navbar-light gradient-custom-1" style="border-radius: 0px; padding-top: 5px; padding-bottom: 5px;">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="margin-left: 15px; font-size: 160%; font-weight: bolder; color:#f58025">MealSwap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active" style="margin-left: 15px; font-weight: bold;">
              <a class="nav-button" href="/about" id="intro-btn" style="text-decoration: none; margin-right: 10px; font-size: large; color:#f58025">About</a>
            </li>
            <li class="nav-item active" style="margin-left: 15px; font-weight: bold;">
              <a class="nav-button" href="/tutorial" id="intro-btn" style="text-decoration: none; margin-right: 10px; font-size: large; color:#f58025">Tutorial</a>
            </li>
            <li class="nav-item active" style="margin-left: 15px; font-weight: bold;">
              <a class="nav-button" href="" id="work-btn" style="text-decoration: none; font-size: large; color:#f58025">Log In</a>
            </li>
            </div>
          </ul>
        </div>
      </nav>
 
      <div class="mx-sm-5">
    <h2 style="padding-top: 30px; padding-left: 15px;">
        Create Your Account
    </h2>
    </div>

    <div style="padding-top: 30px; padding-left: 30px;">
        
 
    </div>

    <form action='/create' method="post">
      <div class="mx-sm-5">
        <input type="hidden" name="csrf_token" value = "{{csrf_token()}}">
        <input type="hidden" id="blockid" name="blockid" value="work">
        <div class="form-row col-md-8">
                <div class="form-group col-md-4">
                  <label for="inputEmail4" style="font-weight: bold;">Preferred Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="" required>
                </div>
              </div>
 
              <div class="form-row col-md-8">
                <div class="form-group col-md-4">
                  <label for="inputCity" style="font-weight: bold; margin-right: 3px;">Dining Plan:</label>
                  <select required class="form-select" id="plan" name="plan" aria-label="Default select example">
                    <option value ="" selected disabled>Meal Plan</option>
                    <option value="2D Co-Op">2D Co-Op</option>
                    <option value="IFC Co-Op">IFC Co-Op</option>
                    <option value="Brown Co-Op">Brown Co-Op</option>
                    <option value="Scully Co-Op">Scully Co-Op</option>
                    <option value="Colonial">Colonial</option>
                    <option value="Tower">Tower</option>
                    <option value="Tiger Inn">TI</option>
                    <option value="Terrace">Terrace</option>
                    <option value="Cap & Gown">Cap & Gown</option>
                    <option value="Ivy">Ivy</option>
                    <option value="Charter">Charter</option>
                    <option value="Cloister">Cloister</option>
                    <option value="Cottage">Cottage</option>
                    <option value="Quad">Quad</option>
                    <option value="Dining Hall">Dining Hall</option>
                  </select>
                </div>
 
              </div>
 
              <div class="form-group col-md-4">
                <label for="inputCity" style="font-weight: bold;">Phone Number:</label>
                <input type="tel" class="form-control" id="contact" name="number" pattern = "[0-9]{10}" placeholder="2019512312" required>
                </div>
         
              <!-- <button onclick="createNewUser()" type="submit" class="btn btn-outline-primary" style="margin-top: 10px; margin-left: 15px;">Create Account</button> -->
              
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalLong" style="margin-top: 10px; margin-left: 15px;">
                Create Account
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Rules and Guidelines</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                      
                      <ul>
                      <li>MealSwap is for Princeton University students only. You must login via CAS to use the app.</li>
                      <li>By using this app you consent to sharing your phone number with other users you are matched with.</li>
                      <li>Be respectful and polite when communicating with other users. Do not harass, bully, or discriminate against any other user.</li>
                      <li>MealSwap has the right to remove any user who violates these rules and guidelines.</li>
                      <li>MealSwap is not responsible for the actions or behavior of any user, nor does it endorse or guarantee the reliability or trustworthiness of any user. Use the app at your own discretion and be cautious when arranging exchanges with other users.</li>
                      </ul>
                      <p>By using MealSwap, you agree to these rules and guidelines and assume all risks and responsibilities associated with the use of the app.</p>
                      <p><b>Contact Us</b></p>
                    <p>If you have any questions about this app or the rules and guidelines, you can contact us at this page: <a href="https://mealswap.onrender.com/about" rel="external nofollow noopener" target="_blank">https://mealswap.onrender.com/about</a></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Decline</button>
                      <button type="submit" class="btn btn-outline-primary" style="margin-left: 5px;">Agree</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </form>
</body>
 
 
 