<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>MealSwap</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}", id="theme">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- <nav class="navbar gradient-custom-1" id="#" style="border-radius: 0px; padding-top: 10px; padding-bottom: 10px;">
        <div class="float-left, navbar-logo" style="margin-left: 15px; font-size: 180%; font-weight: bolder;">
            MealSwap
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       

        <div class="float-right, navbar-item" style="margin-right: 15px;">
            <a class="nav-button" href="" id="intro-btn" style="text-decoration: none; margin-right: 10px; font-size: large;">About</a>
            <a class="nav-button" href="" id="work-btn" style="text-decoration: none; font-size: large;">Tutorial</a>
        </div>
    </nav> -->

    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="border-radius: 0px; padding-top: 5px; padding-bottom: 5px"
    >
      <a
        class="navbar-brand"
        href="{{ url_for('home') }}"
        style="margin-left: 15px; font-size: 160%; font-weight: bolder; color:#f58025"
        >MealSwap</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="margin-left: 15px; font-weight: bold;">
          <a
            class="nav-button"
            href="{{ url_for('about') }}"
            id="intro-btn"
            style="text-decoration: none; margin-right: 10px; font-size: large; color:#f58025"
            >About</a
          >
        </li>
        <li class="nav-item active" style="margin-left: 15px; font-weight: bold;">
          <a
            class="nav-button"
            href="{{ url_for('tutorial') }}"
            id="work-btn"
            style="text-decoration: none; font-size: large; color:#f58025"
            >Tutorial</a
          >
        </li>
      </ul>
      </div>
    </nav>
    <div class="container-fluid">
    <div class="gradient-form row g-0">
      <div class="col-lg px-0">
        <div class="card-body mx-md-4">
          <div
            class="text-center"
            style="margin-top: 75px; margin-bottom: 65px"
          >
            <img src="static/images/LOGO.jpeg" style="width: 300px" alt="logo" />
          </div>

          <div>
            <center>
              <a
                href="{{ url_for('create') }}"
                class="btn btn-primary button-size btn-block fa-lg mb-4"
                type="button"
                >Student Log in</a
              >
            </center>
          </div>

          <!-- <div>
            <center>
              <a
                href="{{ url_for('create') }}"
                class="btn btn-primary button-size btn-block fa-lg mb-4"
                type="button"
                >Admin Log in</a
              >
            </center>
          </div> -->
        </div>
      </div>

      <div class="col-lg px-0 d-flex align-items-center gradient-custom-2">
        <div class="text-black px-3 py-4 mx-md-4">
          <h4 class="mb-4" style="font-size: 300%">About Us</h4>
          <p class="small mb-0" style="font-size: 150%">
            MealSwap is an application where Princeton students are able to
            explore other meal plan options on campus by requesting and
            fullfilling meal swaps.
          </p>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
