<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="style.css" id= "theme"> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AJAX for Flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>
  function updateDetails() {
  var name= $('#name').val();
  var number = $('#contact').val();
  var year= $('#year').val();
  var plan= $('#plan').val();
  
    $.ajax({
      type: "POST",
      url: "/updatedetails",
      data: {name:name, number:number, year:year, plan:plan},
      success: function() {   
          location.reload();  
      }
  });
    
    // $.ajax({
    //             url: "/updatedetails",
    //             type: "POST",
    //             data: {name:name, number:number, year:year, plan:plan}
    //         }).done(function(response) {
    //             location.reload()
    //           });
              
  };
</script>


<body>

  {% include 'navbar.html' %}

    <div class="mx-sm-4 mt-4" style="padding-left: 20px">
      <h2>
        Profile Details
      </h2>
    </div>

    <div class="show-data" >
    </div>
      
    <div class = "container-fluid px-4">
      <div class="mx-sm-4 mt-4">
        <table>
            <tr>
              <td style="width:40%">Net ID: </td>
              <td>{{netid}}</td>
            </tr>
            <tr>
              <td>
                <label for="inputEmail4">Preferred Name</label>
              </td>
              <td>
                <input type="text" class="form-control" id="name" placeholder="{{name}}">
              </td>
            </tr>

            <tr>
              <td>
                <label for="inputAddress2">Class Year</label>
              </td>
              <td>
                <input type="text" class="form-control" id="year" placeholder="{{class_year}}">
              </td>
            </tr>

            <tr>
              <td>
                <label for="inputCity">Dining Plan</label>
              </td>
              <td>
                <select class="form-select" id="plan" aria-label="Default select example">
                  <option selected>{{dining_plan}}</option>
                  <option value="2D Co-Op">2D Co-Op</option>
                  <option value="IFC Co-Op">IFC Co-Op</option>
                  <option value="Brown Co-Op">Brown Co-Op</option>
                  <option value="Scully Co-Op">Scully Co-Op</option>
                  <option value="Colonial">Colonial</option>
                  <option value="Tower">Tower</option>
                  <option value="Tiger Inn">TI</option>
                  <option value="Terrace">Terrace</option>
                  <option value="Cap & Gown">Cap & Gown</option>
                  <option value="Ivy">Ivy</option>
                  <option value="Charter">Charter</option>
                  <option value="Cloister">Cloister</option>
                  <option value="Cottage">Cottage</option>
                  <option value="Quad">Quad</option>
                  <option value="Dining Hall">Dining Hall</option>
                </select>
              </td>
            </tr>

            <tr>
              <td>
                <label for="inputCity">Phone Number</label>
              </td>
              <td>
                <input type="text" class="form-control" id="contact" placeholder="{{phone_no}}">
              </td>
            </tr>


        </table>

        <button onclick="updateDetails()" type="submit" class="btn btn-primary" style="margin-top: 10px;">Update Details_new</button>


        <form action = "/updatedetails" method="get">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Update Details</button>
        </form>
      </div>

    </div>
</body>



