<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Submit Request</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AJAX for Flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>
  if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
  }
</script>

<script>
function createRequest() {
var plan= $('#plan').val();
var times= $('#times').val();
console.log(plan)
if (plan == null) {
  return false;
} 
if (times == null) {
  return false;
} 


  $.ajax({
              url: "/submitrequest",
              type: "POST",
              data: {plan:plan, times:times}
          }).done(function(response) {
            });
            
};
</script> 

<body>

    {% include 'navbar.html' %}

<center>
  <div class="card mb-4 mt-4" style="width: 25rem;">
    <div class="mx-4 mt-4 d-flex justify-content-center" style="background-color: rgb(245, 235, 220); padding:7px; border-radius: 20px;">
      <h2 style="font-weight: bolder">
        Submit Request
      </h2>
    </div>

    <div class="show-data" >
    </div>
      
    <!-- <div class = "container-fluid px-4 d-flex"> -->
      <!-- <div class="mx-sm-4 mt-4" style="align-items: center;"> -->
        <form action="/submitrequest" method="post" onsubmit="return confirm('Are you sure you want to submit this request?');">
          <input type="hidden" name="csrf_token" value = "{{csrf_token()}}">
              <div class="form-group" style="margin-top: 30px;">
                <label for="inputAddress"><b>Requested Dining Plan:</b></label>
                <select class="form-select" id="plan" name="plan" aria-label="Default select example" required = "true">
                  <option value="" selected disabled>Meal Plan</option>
                  <option value="Dining Hall">Dining Hall</option>
                  <option value="2D Co-Op">2D Co-Op</option>
                  <option value="Brown Co-Op">Brown Co-Op</option>
                  <option value="IFC Co-Op">IFC Co-Op</option>
                  <option value="Real Food Co-Op">Real Food Co-Op</option>
                  <option value="Scully Co-Op">Scully Co-Op</option>
                  <option value="Cannon">Cannon</option>
                  <option value="Cap & Gown">Cap & Gown</option>
                  <option value="Charter">Charter</option>
                  <option value="Cloister">Cloister</option>
                  <option value="Colonial">Colonial</option>
                  <option value="Cottage">Cottage</option>
                  <option value="Ivy">Ivy</option>
                  <option value="Quad">Quad</option>
                  <option value="Terrace">Terrace</option>
                  <option value="Tiger Inn">TI</option>
                  <option value="Tower">Tower</option>
                </select>
              </div>

              <div class="form-group" style="margin-top: 20px;">
                <label for="inputAddress2"><b>Meal Time:</b></label>
                <select class="form-select" id="times" name="times" aria-label="Default select example" required = "true">
                  <option value ="" selected disabled>Meal Time</option>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner">Dinner</option>
                  <option value="Brunch">Brunch</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-outline-primary" style="margin-top: 10px; margin-bottom: 10px;">Submit Request</button> 

        </form>

    <!-- </div> -->
  </div>
</center>
</body>

