<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
 
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
 
    <title>Tutorial</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}", id="theme">
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
 
  <body>
    {% include 'navbar.html' %}
 
    <div class="mx-sm-4 mt-4" style="padding-left: 20px">
      <h2>
        Tutorial
      </h2>
    </div>
    <div class="mx-sm-4 mt-4 px-4">
      <p tyle="padding-top: 30px; padding-left: 45px;">Welcome to MealSwap! This is a quick-start guide to help you get up to speed with how to most effectively use this site.</p>
      When you first press login in the application, you'll be prompted by an account creation screen.
      Here, you'll enter all your relevant meal plan information so that you can be properly matched with other Princeton students!
      <br />
      <br />
      <img src="static/images/Creation.png" style="width: 80%" alt="logo" />
      <br />
      <br />
 
      In the form, we also ask you to supply your phone number. We'll use this number to ping you with notifications of any new exchanges,
      as well as reminding you right before any upcoming meetups!
      <br />
      <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Read further once you're done logging in!</div>
      <div class="panel-body">
        <p>...</p>
      </div>
      Once you log in, you'll be re-directed to the main dashboard page. Here, you'll see all the users that want to eat at
      your meal plan! User names and netids will be hidden on this dashboard for anonymity, but they will be unmasked if you choose to
      accept their request!
      <br />
      <br />
      <img src="static/images/Dashboard.png" style="width: 80%" alt="logo" />
      <br />
      <br />
      Each row represents a Princeton Student that wants to eat at your meal plan. You can see basic information about their meal plan
      on this row as well. If their meal plan sounds interesting to you, and the times work as well... Press "Accept Request" and you
      two will be automagically paired to get a meal together!
      <br />
      <br />
      You can view your current pending exchanges and other useful information through the menu tab.
      <br />
      <br />
      <img src="static/images/Menu.png" style="width: 20%" alt="logo" />
      <br />
      <br />
      Here, you can view the main page (Dashboard), see your pending requests, submit requests, and view the Tutorial (where you are now!), and the
      About page (where you can view FAQs and also look at the beautiful creators of this app!). Additionally, you can view and change your account information
      in your profile.
      <br />
      <br />
    </div>
   
   
 
  </body>
</html>
 

