<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Your Exchanges</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AJAX for Flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>


<body>

    {% include 'navbar.html' %}

    <h2 style="padding-top: 30px; padding-left: 45px;">
        Your Exchanges
    </h2>

    <div class="show-data" >
    </div>
    
    <div style="padding-top: 30px; padding-left: 45px; padding-right: 45px;">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Swapnetid</th>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
                <th scope="col">Plan</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Times</th>
                <th scope="col">Completed</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(table|length): %}
              <tr>
                
                <td>{{i+1}}</td>
                {% for j in range(table[i]|length - 1): %}
                  <td>{{table[i][j]}}</td> 
                {% endfor %}
              <tr> 
              {% endfor %}

              <!-- <tr>
                <th scope="row">3</th>
                <td>Tiger Inn</td>
                <td>Ivy</td>
                <td>Lunch</td>
              </tr> -->
            </tbody>
          </table>

    </div>
</body>



