<!DOCTYPE html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Your Exchanges</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AJAX for Flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
 
<script>
    function blockuser(id) {    
      console.log(id)

   
      $.ajax({
                  url: "/blockuser",
                  type: "POST",
                  data: {reqid: id}  
              }).done(function(response) {
   
                });
               
    };
</script>
 
<script>
 
function cancelExchange(id) {
  $.ajax({
              url: "/cancelexchange",
              type: "POST",
              data: {reqid: id}
          }).done(function(response) {
 
            });
           
};

function completeExchange(id) {
  $.ajax({
              url: "/completeexchange",
              type: "POST",
              data: {reqid: id}
          }).done(function(response) {
 
            });
           
};

function submitFormcomplete(para) {
  var string = "Have you completed this exchange?"
  var answer = confirm(string)
  if (answer){
    completeExchange(para);
    return true;
  }
  return false;
}

function submitForm(para) {
  var string = "Do you want to cancel this exchange?"
  var answer = confirm(string)
  if (answer){
    cancelExchange(para);
    return true;
  }
  return false;
}

function submitForm1(para) {
  var answer = confirm('Do you wish to block this user?')
  if (answer){
    blockuser(para);
    return true;
  }
  return false;
}
 
</script>
 
 
<body>
 
    {% include 'navbar.html' %}
    <div class="mx-sm-4 mt-4" style="padding-left: 20px; justify-content: space-between; display: flex; align-items: center;">
      <h2>
      Dashboard
      </h2>
      <h4>
      <a style="padding-right: 20px;" href="{{url_for('submit_request')}}">Submit Request</a>
    </h4>
    </div>
 
    <div class="show-data" >
    </div>
   
    <div class="container-fluid">
      <div class="mx-sm-5 mt-4">
        {% with %}
            {% set activeTab = ["", "", "active", ""] %}
            {% include 'tabnav.html' %}
        {% endwith %}
        <!-- <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Netid</th>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
                <th scope="col">Plan</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Meal Time</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
 
              </tr>
            </thead>
            <tbody>
              {% for i in range(table|length): %}
              <tr>
                {% for j in range(1, table[i]|length): %}
                  {% if j != 6 and j != 1: %}
                  <td style="padding-top: 20px;">{{table[i][j]}}</td>
                  {% endif %}
                {% endfor %}

                <td>
                  <form action='/dashboard' onSubmit="return submitFormcomplete({{table[i][0]}})">
                    <button type="submit" class="btn btn-outline-success">
                      Complete Exchange
                    </button>
                  </form>
                     
                  </td>

                <td>
                  <form action='/dashboard' onSubmit="return submitForm({{table[i][0]}})">
                    <button type="submit" class="btn btn-outline-warning">
                      Cancel Exchange
                    </button>
                  </form>
                     
                  </td>
                  <td>
                    <form action='/blocked' onSubmit="return submitForm1({{table[i][0]}})">
                      <button type="submit" class="btn btn-outline-danger">
                        Block User
                      </button>
                    </form>
                     
                  </td>
              <tr>
              {% endfor %}
 
              <tr>
                <th scope="row">3</th>
                <td>Tiger Inn</td>
                <td>Ivy</td>
                <td>Lunch</td>
              </tr>
            </tbody>
          </table> -->

          {% for i in range(table|length): %}
          <div class="card mb-4 border-info" style="background-color: rgb(218, 231, 228);">
            <div class="row align-content-center" style="align-items: center">
              <div class="card-body col-sm-10">
                <text class="cardText" style="margin-left: 30px;">
                  <b>NetID:</b> {{table[i][1]}}
                </text><br>
                <text class="cardText" style="margin-left: 30px;">
                  <b>Name:</b> {{table[i][2]}}
                </text><br>
                <text class="cardText" style="margin-left: 30px;">
                  <b>Preferred Name:</b> {{table[i][3]}}
                </text><br>
                <text class="cardText" style="margin-left: 30px;">
                  <b>Dining Plan:</b> {{table[i][4]}}
                </text><br>
                <text class="cardText" style="margin-left: 30px;">
                  <b>Contact:</b> {{table[i][5]}}
                </text><br>
                <text class="cardText" style="margin-left: 30px;">
                  <b>Meal Time:</b> {{table[i][6]}}
                </text>
              </div>
              <div class="card-body col-sm-2">
                  <form action='/dashboard' onSubmit="return submitFormcomplete({{table[i][0]}})">
                    <button type="submit" class="btn btn-outline-success float-sm-right" style="margin-left: 30px; margin-right: 30px; margin-top: 5px; margin-bottom: 5px;">
                      Complete
                    </button>
                  </form>
                  <form action='/dashboard' onSubmit="return submitForm({{table[i][0]}})">
                    <button type="submit" class="btn btn-outline-warning float-sm-right" style="margin-left: 30px; margin-right: 30px; margin-top: 5px; margin-bottom: 5px;">
                      Cancel
                    </button>
                  </form>
                  <form action='/blocked' onSubmit="return submitForm1({{table[i][0]}})">
                    <button type="submit" class="btn btn-outline-danger float-sm-right" style="margin-left: 30px; margin-right: 30px; margin-top: 5px; margin-bottom: 5px;">
                      Block User
                    </button>
                  </form>
              </div>
            </div>
          </div>
          {% endfor %}
 
    </div>
    </div>
</body>
 
 
 
 

